# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS e OS
.DS_Store
*.pem

# Secrets / local env files
.env
.env.*
secrets.json

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
/mobile-app/ios
/mobile-app/android

# Arquivos de arquitetura e rascunhos pessoais
Base-dbv-finance.md
ARCHITECTURE.md